/*https://kiomiru.co.jp/blog/coding/radio-checkbox/ */

.visually-hidden {
  /* コンテンツの流れから切り離す */
  position: absolute;
  /* 誤ったコードに対処するための回避策 */
  white-space: nowrap;
  /* 可能な限り文字サイズを小さくするための処理
         * (スクリーンリーダー中には height と width が 0 のものを無視するため)
         */
  width: 1px;
  height: 1px;
  /* オーバーフローしているコンテンツを隠す */
  overflow: hidden;
  /* 要素サイズを変更しうるプロパティのリセット */
  border: 0;
  padding: 0;
  /* 要素のどの部分が表示されるかを定義するもの */
  /* 古いブラウザでは使用できない */
  clip: rect(0 0 0 0);
  /* 最近のブラウザ用
         * コンテンツを非表示にする設定  */
  clip-path: inset(50%);
  /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
         * それに加えていくつか問題もあるそうです 
         * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
         */
  margin: -1px;
}

.label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.label::before,
.label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
}

.label::before {
  background-color: transparent;
  border-radius: 0%;
  border: 1px solid rgb(193 155 81 / var(--tw-text-opacity));
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
}

.label::after {
  border-bottom: 2px solid rgb(193 155 81 / var(--tw-text-opacity));
  border-left: 2px solid rgb(193 155 81 / var(--tw-text-opacity));
  opacity: 0;
  height: 5px;
  width: 10px;
  transform: rotate(-45deg);
  top: 8px;
  left: 10px;
}

.label-admin::before {
  border-color: #df9a83;
}
.label-admin::after {
  border-color: #df9a83;
}

.checked::after {
  opacity: 1;
}
