@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-lato;
  }
  h1 {
    @apply text-9xl;
  }
  h2 {
    @apply text-5xl md:text-6xl font-allura text-white font-light;
  }
  h3 {
    @apply text-2xl font-normal;
  }
  small {
    @apply text-xs text-Pink-dark;
  }
}
@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

@layer components {
  .FlexCenter {
    @apply flex items-center justify-center;
  }
  .FlexAlign {
    @apply flex items-center;
  }
  .FlexJustify {
    @apply flex justify-center;
  }
  .NavBase {
    @apply h-16 min-w-full flex items-center justify-between px-8 fixed top-0 left-0 z-30 backdrop-blur bg-white bg-opacity-10;
  }
  .Hover {
    @apply transform hover:-translate-y-1 duration-300;
  }
  .HoverUnderLine {
    @apply hover:border-b-2 border-white;
  }
  .InputDark {
    @apply bg-Pink-lighter bg-opacity-50 text-Pink-default p-2 border-none rounded-md mb-3;
  }
  .InputLighter {
    @apply p-1 rounded-3xl bg-White-lighter text-Pink-default bg-opacity-80 border-none drop-shadow-lg md:p-2 md:rounded-xl;
  }
  .InputBorder {
    @apply mb-4 border-b-2 border-Pink-default bg-inherit;
  }
}
